fastapi
uvicorn[standard]
pydantic-settings
python-dotenv
sqlalchemy
alembic
psycopg[binary]
celery
PyGithub
pyjwt
cryptography
redis
prometheus-client
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-celery
strawberry-graphql[fastapi]
pytest
httpx
